# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Env files
.env

# Virtual environments
venv/

# Docker-related (optional)
docker-compose.yml
Dockerfile

# Git & docs
.git/
.gitignore
README.md

# DB dumps / backups
*.sql
*.sqlite